<% layout("/layouts/boilerplate")%>
<body>
    <h2>All listings</h2>
    <!-- <form method="get" action="/listings/new">
        <button>Create</button> -->
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
    </form>
    <%for(let listing of allListing){%>
            <div class="card col" >
                <a class="listinglink" href="/listings/<%=listing._id%>">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                </a>


                <!-- <div class="card-img-overlay"></div> -->


                <div class="card-body">
                    <a class="listinglink" href="/listings/<%=listing._id%>">
                        <h5 class="card-title"><%=listing.title%></h5>
                    </a>   
                    <p class="card-text"> <b>&#8377;<%=listing.price.toLocaleString("en-IN")%>/night</b></p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
      <%}%>
            </div>

    
</body>

